.global-container {
  width: 100%;
  position: relative;
  background-color: orange;
  height:1000vh;
  z-index:10;

  & .main-container {
    height: 200vh;
    width: 100%;
    background-color: orangered;
    transition: all 1s ease;
    box-shadow: 0px -1px 20px 1px #00000054;
  }
}

/*header*/
.header {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    display: inline-block;
    margin-left: 20px;
    font-size: 2em;
  }
  & .btn {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;

    & > span {
      display: block;
      margin-bottom: 9px;
      height: 3px;
      width: 55px;
      background-color: black;
      transition: transform 1s ease, opacity 1s ease;
    }
  }
}

/*header .open*/
.global-container {
  &.open {
    & .main-container {
      position: absolute;
      transform: translate(-40%, 5%);

      & .header {
        & .btn {
          & > span {
            // background-color: crimson;
            &:nth-child(1) {
              transform: translateY(12px) rotate(135deg);
            }
            &:nth-child(2) {
              transform: translateX(-100%);
              opacity: 0;
            }
            &:nth-child(3) {
              transform: translateY(-12px) rotate(-135deg);
            }
          }
        }
      }
    }
  }
}

/*nav*/
nav {
  position: fixed;
  z-index: -1;
  top: 10%;
  right: 10%;

  & ul {
    transform-style: preserve-3d;
    perspective: 600px;
    & li {
      & a {
        color: white;
        text-decoration: none;
      }
      margin-bottom: 15px;
      font-size: 2em;
      opacity: 0;
      transform: translateZ(-5000px) rotateZ(1080deg);
      transition: all 1.0s ease;
    }
  }
}
/*nav open*/
.global-container {
  &.open {
    & nav {
      & ul {
        transform-style: preserve-3d;
        perspective: 600px;

        & li {
            margin-bottom: 15px;
            font-size: 2em;
            opacity: 1;
            transform: none;
            
            @for $i from 1 through 3{
                &:nth-child(#{$i}){
                    transition-delay:0.3s * $i;
                }
            }
          & a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
